<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="/style.css">   <title>Student List</title>


</head>
<body>
    <h1>All Students</h1>

    <a href="/students/new">Add New Student</a>

    <div>
        <% students.forEach(student => { %>
          <div class="card">
            <h3><%= student.name %></h3>
            <p><strong>Age:</strong> <%= student.age %></p>
            <p><strong>Gender:</strong> <%= student.gender %></p>
            <a href="/students/<%= student.id %>/edit">Edit</a>
            <form action="/students/<%= student.id %>/delete" method="POST" style="display:inline;">
              <button>Delete</button>
            </form>
          </div>
        <% }); %>
</body>
</html>